/* ISSUE #1 */
* {
  font-family: sans-serif;
}

body {
  background-color: #edebed;
}

header {
  background-color: #4a2373;
}

h1.journal-header {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  display: inline-block;
}

h2.page-title {
  font-size: 1.5rem;
}

img.entry-image {
  width: 100%;
  object-fit: contain;
}

img.view-entry-image {
  width: 100%;
}

.label-input-div {
  width: 100%;
  padding: 0.2rem;
}

.label-div {
  padding: 0.5rem 0;
}

.label-div > label {
  font-weight: 500;
  font-size: 1.2rem;
}

input.input-title,
input.input-photo-url {
  width: 100%;
  border: 1.5px solid gray;
  border-radius: 5px;
  height: 1.8rem;
}

input.input-title:focus,
input.input-photo-url:focus {
  outline: #4a2373;
  border: 1.5px solid #4a2373;
  border-radius: 5px;
}

textarea.input-notes {
  width: 100%;
  height: 50%;
  border: 1.5px solid gray;
  border-radius: 5px;
  font-size: 1.5rem;
}

textarea.input-notes:focus {
  outline: #4a2373;
  border: 1.5px solid #4a2373;
  border-radius: 5px;
}

button.submit {
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
  background-color: #4a2373;
  color: white;
  border: 1.5px solid #4a2373;
  border-radius: 5px;
  margin: 1.5rem 0;
}

button.submit:hover {
  cursor: pointer;
}

.button-submit-div {
  text-align: right;
  width: 25%;
}

.button-delete-div {
  text-align: left;
  width: 75%;
}

/* ISSUE #2 */
span.entries {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  display: inline-block;
  margin-left: 2rem;
  background-color: #ffc107;
  padding: 5px;
  border-radius: 5px;
}

li.entry {
  list-style-type: none;
  margin-bottom: 2rem;
}

ul.entry-list {
  padding: 0;
  margin: 0;
}

a.button-new {
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
  background-color: #4a2373;
  color: white;
  border: 1.5px solid #4a2373;
  border-radius: 5px;
  text-decoration: none;
}

/* Centering the link */
.row-half-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.row-half-left {
  margin-right: auto;
}

p.entry-notes {
  text-align: justify;
}

p.no-entry {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

/* ISSUE #3 */
h3.entry-title {
  width: 90%;
  display: inline-block;
}

i.edit-icon {
  width: 10%;
  font-size: 1.5rem;
  padding-top: 3%;
  padding-left: 0;
  text-align: right;
  display: inline-block;
  color: #4a2373;
}

i.edit-icon:hover {
  cursor: pointer;
}

/* ISSUE #4 */
button.button-delete {
  font-size: 1rem;
  background-color: #edebed;
  color: #eb4f4d;
  border: none;
  margin: 2rem 0;
  padding: 0;
  text-decoration: underline;
}

button.button-delete:hover {
  cursor: pointer;
}

dialog {
  border-color: transparent;
  border-radius: 10px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

div.modal-container {
  width: auto;
  min-width: 400px;
  max-width: 500px;
  min-height: 200px;
  max-height: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.dialog-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

p.confirmation-text {
  font-size: 1.2rem;
}

.button-cancel-div {
  margin-right: auto;
  margin-left: 5%;
}

.button-confirm-div {
  margin-right: 5%;
}

button.button-cancel,
button.button-confirm {
  font-size: 1.5rem;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  margin: 1.5rem 0;
}

button.button-cancel {
  background-color: #cecece;
  color: black;
  border: 1.5px solid #cecece;
}

button.button-confirm {
  background-color: #eb4f4d;
  color: white;
  border: 1.5px solid #eb4f4d;
}

button.button-cancel:hover,
button.button-confirm:hover {
  cursor: pointer;
}
