/* ISSUE#1 */
* {
  font-family: sans-serif;
}

body {
  background-color: #edebed;
}

header {
  background-color: #4a2373;
}

h1.journal-header {
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  display: inline-block;
}

h2.page-title {
  font-size: 1.5rem;
}

img.entry-image {
  width: 100%;
  object-fit: contain;
}

img.view-entry-image {
  width: 100%;
}

.label-input-div {
  width: 100%;
  padding: 0.2rem;
}

.label-div {
  padding: 0.5rem 0;
}

.label-div > label {
  font-weight: 500;
  font-size: 1.2rem;
}

input.input-title,
input.input-photo-url {
  width: 100%;
  border: 1.5px solid gray;
  border-radius: 5px;
  height: 1.8rem;
}

input.input-title:focus,
input.input-photo-url:focus {
  outline: #4a2373;
  border: 1.5px solid #4a2373;
  border-radius: 5px;
}

textarea.input-notes {
  width: 100%;
  height: 50%;
  border: 1.5px solid gray;
  border-radius: 5px;
  font-size: 1.5rem;
}

textarea.input-notes:focus {
  outline: #4a2373;
  border: 1.5px solid #4a2373;
  border-radius: 5px;
}

button.submit {
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
  background-color: #4a2373;
  color: white;
  border: 1.5px solid #4a2373;
  border-radius: 5px;
  margin: 1.5rem 0;
}

button.submit:hover {
  cursor: pointer;
}

.button-submit-div {
  text-align: right;
  width: 25%;
}

.button-delete-div {
  text-align: left;
  width: 75%;
}

button.delete {
  font-size: 1rem;
  background-color: #edebed;
  color: #eb4f4d;
  border: none;
  margin: 2rem 0;
  padding: 0;
  text-decoration: underline;
}

button.delete:hover {
  cursor: pointer;
}

/* ISSUE#2 */
span.entries {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  display: inline-block;
  margin-left: 2rem;
  background-color: #ffc107;
  padding: 5px;
  border-radius: 5px;
}

li.entry {
  list-style-type: none;
  margin-bottom: 2rem;
}

ul.entry-list {
  padding: 0;
  margin: 0;
}

a.button-new {
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
  background-color: #4a2373;
  color: white;
  border: 1.5px solid #4a2373;
  border-radius: 5px;
  text-decoration: none;
}

/* Centering the link */
.row-half-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.row-half-left {
  margin-right: auto;
}

p.entry-notes {
  text-align: justify;
}

p.no-entry {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}
